/*TOP BAR*/
.bar.tbar {
    background-color: #4e5b74;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    block-size: max-content;
    height: 9%;
}

.sbar {
    margin-left: 35px;
    background-color: #4e5b74;
    color: white;
    border: 1px solid #1A1A1A;
    border-radius: 50px;
    padding: 5px;
    width: 60%;
    height: 3.5%;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    column-gap: 10px;
}

.search {
    order: 0;
}

#searchInput {
    order: 1;
    block-size: inherit;
    height: 100%;
    width: 100%;
}

.profile-buttons {
    position: fixed;
    right: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    border: #1A1A1A solid 1px;
    border-radius: 40px;
    padding: 5px;
}

.pfp {
    vertical-align: middle;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: solid 2px;
    border-color: rgba(10.2, 10.2, 10.2, 0);
    box-sizing: border-box;
}

.notifications {
    visibility: hidden;
}

.profile-buttons:hover .notifications {
    visibility: visible !important;
}

.profile-buttons:hover {
    border-color: rgba(10.2, 10.2, 10.2, 1);
}

/*CONTENT PAGE*/



/*BOTTOM BAR*/

.bar.bbar {
    background-color: #4e5b74;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 70px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: calc(100% - 40px);
    block-size: fit-content;
    border-top: 2px solid gray;
    padding-left: 10px;
    padding-right: 30px;
    justify-content: space-between;
}

/*CURRENT DIV*/

.current {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    color: white;
    block-size: inherit;
}

.current.text {
    font-size: normal;
    order: 1;
}

#current-artist {
    opacity: 0.75;
}

.likesong:before {
    order: 2;
}

/*PROGRESS DIV*/

.progress {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 20px;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 25px;
}

.pause-btn {
    display: flex;
    background-color: white;
    color: #4e5b74;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.pause-btn:hover {
    background-color: #1A1A1A;
}

.back-btn:hover {
    color: #1A1A1A
}

.forward-btn:hover {
    color: #1A1A1A;
}

.forward-btn:active {
    color: white;
}

.pause-btn:active {
    background-color: white;
}

.back-btn:active {
    color: white;
}

.time-bar {
    -webkit-appearance: none;
    background: linear-gradient(90deg, #826eab 60%, black 60%);
    border-radius: 12px;
    height: 5px;
    width: 480px;
}

.time-bar:hover {
    opacity: 1;
}

.time-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.time-bar::-moz-range-thumb {
cursor: pointer;
background: white;
border-radius: 50%;
width: 15px;
height: 15px;
}

/*AUDIO DIV*/

.audio {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}


.vol {
    -webkit-appearance: none;
    background: linear-gradient(90deg, #826eab 60%, black 60%);
    border-radius: 12px;
    height: 5px;
}

.vol:hover {
    opacity: 1;
}

.vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.vol::-moz-range-thumb {
cursor: pointer;
background: white;
border-radius: 50%;
width: 10px;
height: 10px;
}


.icon-audio:before {
    color: #f3f4f6;
  }

/*EXTRA DIV*/

.extra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
}

.repeat:hover {
    color: white;
}

.mix:hover {
    color: white;
}

.queue:hover {
    color: white;
}

/*LEFT BAR*/

div.lbar{
    display: flex;
    background-color: #4e5b74;
    z-index: 1;
    width: 5%;
    float: left;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 50px;
    align-items: center;
}

.logo {
    order: 0;
}

.nav {
    order: 1;
    display: flex;
    color: #1A1A1A;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 35px;
}

.home:hover {
    color: white;
}

.explore:hover {
    color: white;
}

.library:hover {
    color: white;
}

.likedsong:hover {
    color: white;
}

.home:active {
    color: #1A1A1A;
}

.explore:active {
    color: #1A1A1A;
}

.library:active {
    color: #1A1A1A;
}

.likedsong:active {
    color: #1A1A1A;
}

.home {
    order: 1;
    display: inline-block;
  }

.explore {
    order: 2;
    display: inline-block;
}

.library {
    order: 3;
    display: inline-block;
}

.likedsong {
    order: 4;
    display: inline-block;
}


/*ICON SETTINGS*/

a {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
}

input {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
