/*BOTTOM BAR*/

.bar.bbar {
    background-color: #4e5b74;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 70px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    block-size: max-content;
    border-top: 2px solid gray;
}

/*CURRENT DIV*/

.current {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-left: 20px;
    color: white;
}


.current.text {
    font-size: medium;
    order: 1;
}

#current-artist {
    opacity: 0.75;
}

.likesong:before {
    order: 2;
}

/*PROGRESS DIV*/

.progress {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 20px;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 25px;
}

.icon-pause2:before {
    background-color: white;
    color: #4e5b74;
    border-radius: 30px;
    border: 3px solid white;
    font-size: 20px;
    padding: 5px;
}

.icon-skip-back:hover {
    color: #1A1A1A
}

.icon-pause2:hover {
    background-color: #1A1A1A;
}

.icon-skip-forward:hover {
    color: #1A1A1A;
}

.icon-skip-forward:active {
    color: white;
}

.icon-pause2:active {
    color: white;
}

.icon-skip-back:active {
    color: white;
}

.time-bar {
    -webkit-appearance: none;
    background: linear-gradient(90deg, #826eab 60%, black 60%);
    border-radius: 12px;
    height: 5px;
    width: 480px;
}

.time-bar:hover {
    opacity: 1;
}

.time-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.time-bar::-moz-range-thumb {
cursor: pointer;
background: white;
border-radius: 50%;
width: 15px;
height: 15px;
}

/*AUDIO DIV*/

.audio {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}


.vol {
    -webkit-appearance: none;
    background: linear-gradient(90deg, #826eab 60%, black 60%);
    border-radius: 12px;
    height: 5px;
}

.vol:hover {
    opacity: 1;
}

.vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.vol::-moz-range-thumb {
cursor: pointer;
background: white;
border-radius: 50%;
width: 10px;
height: 10px;
}


.icon-audio:before {
    color: #f3f4f6;
  }

/*EXTRA DIV*/

.extra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
}

.icon-repeat:hover {
    color: white;
}

.icon-mix:hover {
    color: white;
}

.icon-queue:hover {
    color: white;
}

/*LEFT BAR*/

div.bar.lbar{
    display: flex;
    background-color: #4e5b74;
    z-index: 1;
    width: 5%;
    float: left;
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 35px;
}

.bar.item{
    margin-left: 10px;
    color: white;
}


.bar.lbar.icons{
    position: relative;
    display: flex;
    margin-left: 20px;
    color: #1A1A1A;
    font-size: 30px;
    text-decoration: none;
}

.icon-home:hover {
    color: white;
}

.icon-explore:hover {
    color: white;
}

.icon-library:hover {
    color: white;
}

.icon-likedsong:hover {
    color: white;
}

.icon-home:active {
    color: #1A1A1A;
}

.icon-explore:active {
    color: #1A1A1A;
}

.icon-library:active {
    color: #1A1A1A;
}

.icon-likedsong:active {
    color: #1A1A1A;
}

.icon-home:before {
    order: 0;
    display: inline-block;
  }

.icon-explore:before {
    order: 1;
    display: inline-block;
}

.icon-library:before {
    order: 2;
    display: inline-block;
}

.icon-likedsong:before {
    order: 3;
    display: inline-block;
}


/*ICON SETTINGS*/

a {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}