body {
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* LIBRARY */

.library-content {
    position: fixed;
    top: 6%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #292929;
}

h1 {
    margin-inline-start: 3vw;
    color: white;
    font-size: 31px;
}

.roomlist > img {
    width: 120px;
    height: 120px;
}

.roomlist {
    margin-left: 3vw;
    width: 90vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 10px;
    overflow-x: auto;
}